<div class="card">
  <div class="card-body">
    <div class="avatar mb-5">
      <app-icon-logo></app-icon-logo>
    </div>
    <h2>DDD China</h2>
    <p>
      <a href="#">@ddd-china</a>
    </p>
    <p>
      DDD Conference is organized by a group of ThoughtWorks architects, leaders of DDD practitioners in China.
    </p>
    <div class="toolbar">
      <button type="button" class="btn btn-primary">Follow</button>
      <button type="button" class="btn btn-outline-primary">Message</button>
    </div>
  </div>
</div>
