@import "common";

:host {
  display: block;
}

.alert.alert-primary {
  background: $black;
  color: $white;

  app-icon-info {
    font-size: $font-size-lg;
    margin-right: $spacer;
  }

  .close {
    opacity: 1;
    font-weight: lighter;
  }
}
