<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-auto">
        <app-calendar value="12/01/17 - 12/25/17"></app-calendar>
      </div>
      <div class="col">
        <div class="btn-toolbar">
          <button type="button" class="btn btn-sm active">1H</button>
          <button type="button" class="btn btn-sm">1D</button>
          <button type="button" class="btn btn-sm">1W</button>
          <button type="button" class="btn btn-sm">1M</button>
          <button type="button" class="btn btn-sm" disabled>·</button>
          <button type="button" class="btn btn-sm">MTD</button>
          <button type="button" class="btn btn-sm">QTD</button>
          <button type="button" class="btn btn-sm">YTD</button>
          <button type="button" class="btn btn-sm" disabled>·</button>
          <button type="button" class="btn btn-sm">ALL</button>
        </div>
      </div>
      <div class="col-auto operations">
        <button type="button" class="btn active">
          <app-icon-filter></app-icon-filter>
        </button>
        <button type="button" class="btn">
          <app-icon-share></app-icon-share>
        </button>
        <button type="button" class="btn">
          <app-icon-export></app-icon-export>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <dl>
          <dt>Project Status</dt>
          <dd>
            <div *ngFor="let item of statusList">
              <app-checkbox [label]="item"></app-checkbox>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>Team Member</dt>
          <dd>
            <app-checkbox label="All" [indeterminate]="true"></app-checkbox>

            <div *ngFor="let item of teamMembers">
              <app-checkbox [label]="item"></app-checkbox>
            </div>
            <div>
              <a href="#">Show all...</a>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>
            Visibility
          </dt>
          <dd>
            <div *ngFor="let item of visibilities">
              <app-radio [label]="item"></app-radio>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>Clients</dt>
          <dd>
            <app-checkbox label="All" [indeterminate]="true"></app-checkbox>
            <div *ngFor="let item of clients">
              <app-checkbox [label]="item"></app-checkbox>
            </div>
            <div>
              <a href="#">Show all...</a>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
