@import "common";

:host {
  display: block;
}

.badge {
  height: 20px;
  padding-left: $spacer-md;
  padding-right: $spacer-md;
  min-width: 50px;
  border-radius: 10px;
  margin-bottom: 0;
}

.card-header {
  padding-bottom: 0;
}
