$primary: #172E5D;
$secondary: #F9D5B2;
$black: #0C0033;
$active: #4DA9FF;
$success: #00D3A7;
$warning: #FFC000;
$danger: #FF0048;
$link-color: $active;
$dark: #172E5D;
$text-muted: rgba(black, 0.5);

$font-family-sans-serif: 'PingFang SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$header-font-size: 24px;
$title-font-size: 20px;
$body-font-size: 12px;
$font-size-sm: 10px;
$h2-font-size: $header-font-size;
$h3-font-size: $title-font-size;
$h4-font-size: $title-font-size;
$h5-font-size: $body-font-size;

$size-unit: 8px;
$spacer: $size-unit;
$spacer-sm: $spacer / 2;
$spacer-base: $spacer;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer * 3;

$navbar-nav-link-padding-x: $spacer-md;
$navbar-dark-color: rgba(white, 0.9);

$card-border-radius: $size-unit;

$progress-bg: transparent;

@import "~bootstrap/scss/variables";
