<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p class="text-primary">25</p>
        <p class="text-muted">Active Projects</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p class="text-primary">13</p>
        <p class="text-muted">Awaiting Approval</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p class="text-primary">67</p>
        <p class="text-muted">Completed</p>
      </div>
    </div>
  </div>
</div>
